.title-section {
    padding: 18px 0;
    background-color: #EFDC4F;
}

.main-title {
    font-size: 72px;
    text-align: center;
    background-color: #EFDC4F;
}

.sub-title {
    text-align: center;
    background-color: #EFDC4F;
}

.social-icons-div {
    float: right;
}

.social-icon {
    font-size: 40px;
    margin: 0 20px;
    position: relative;
    top: -75px
}

