.main-lang-div {
    margin: 100px 0;
    width: 100%;
}

.lang-div {
    display: inline-block;
    margin: 0 8px;
    padding: 12px;
}

.lang-icon {
    font-size: 96px;
    transition: transform .5s;
}

.lang-icon:hover {
    transform: scale(1.1);
}

.arrow-down {
    margin: 8px 0;
    height: 100px;
}

.col-1, .col-3 {
    width: 33%;
    float: left;
}

.js-svg-container {
    text-align: center;
    width: 33%;
    float: left;
}

.js-svg {
    transition: transform .5s;
}

.js-svg:hover {
    transform: scale(1.1);
}

.lang-div-inner {
    float: left;
    margin: 0 20px;
}

.lang-title {
    margin: 6px 0;
}

.browser-window {
    width: 60%;
}