body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Zilla Slab', sans-serif;
    font-weight: 300;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
